@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
	font-family: 'Rubik', sans-serif;
}

#search-input {
	width: 325px;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
	border-radius: 12px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: #2e1d55;
	border-color: #2e1d55;
	border-radius: 12px;
}

.btn-outline-primary {
	color: #2e1d55;
	border: 2px solid #2e1d55;
	border-radius: 12px;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
	background-color: #2e1d55;
	border-color: #2e1d55;
	color: #ffffff;
}

.form-control:focus {
	border-color: #2e1d5580;
}

.form-select {
	border-radius: 12px;
	width: 27%!important;
}

.form-select:focus {
	border-color: #2e1d5580;
}

.navbar .navbar-nav .nav-item .active {
	color: #2e1d55;
}

.navbar .navbar-nav .nav-item a {
	color: #00000080;
}

.navbar .navbar-nav .nav-item a:hover {
	color: #2e1d55;
}

.text-danger {
	color: #FF3E30!important;
}

.bg-light {
	background-color: #00000003!important;
}

.list-view {
	width: 62%;
	margin-top: 72px;
}

.list-view .form-select {
	width: 28%;
}

.list-view .form-select:focus {
	border-color: #2e1d5580;
}

.list-view .row .col-6 {
	margin: 0 0 20px 0;
}

.list-view .row .col-6 .card {
	border-radius: 12px;
	transition: all .3s ease;
}

.list-view .row .col-6 .card:hover {
	border-color: #2e1d5580;
	cursor: pointer;
	transition: all .3s ease;
}

.list-view .row .col-6 .active {
	border: 1px solid #2e1d5580;
	transition: all .3s ease;
}

.list-view .container-image {
	width: 168.7px;
	height: 168.7px;
	background-color: #00000010;
	border-radius: 12px 0 0 12px;
}

.beasiswa a,
.event a {
	text-decoration: none;
	color: black;
}

.badge {
	border: 1px solid #00000020;
	border-radius: 6px;
}

.offcanvas-loading {
	top: 72px;
	width: 37%;
	height: 100%;
	border-left: 1px solid #00000010;
	z-index: 1;
	background: white;
	position: fixed;
	right: 0;
	display: none;
}

.offcanvas-loading .ocl-body {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translateY(-50%)translateX(-50%);
}

.offcanvas-empty {
	top: 72px;
	width: 37%;
	height: 100%;
	border-left: 1px solid #00000010;
	z-index: 1;
	background: white;
	position: fixed;
	right: 0;
}

.offcanvas-empty .oce-body {
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translateY(-50%)translateX(-50%);
}

.offcanvas {
	margin-top: 72px;
	width: 37%;
	height: 100%;
	border-left: 1px solid #00000010;
	z-index: 0;
}

.offcanvas .container-image {
	width: 125px;
	height: 125px;
	background-color: #00000010;
	border-radius: 12px;
}

.offcanvas .tabs {
	position: relative;
}

.offcanvas .tabs .tabs-line {
	border-bottom: 1px solid #00000020;
	width: 100%;
	position: absolute;
	left: 0;
	top: 41px;
}

.offcanvas .nav .nav-item .active {
	background-color: #ffffff;
	border-color: #2e1d55;
	color: #2e1d55;
	border-bottom: 2.5px solid #2e1d55;
	border-radius: 0;
	transition: all .3s ease;
}

.offcanvas .nav .nav-item .nav-link:not(.active) {
	color: #00000080;
	border-bottom: 2.5px solid #fff;
	border-radius: 0;
	transition: all .3s ease;
}

.offcanvas .nav .nav-item p {
	cursor: pointer;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 8px;
  border: 4px solid #2e1d55;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2e1d55 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
